<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bank_btn_deposit_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{220,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{220,78}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>bank_btn_deposit_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{220,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{220,78}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>bank_btn_drawMoney_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,160},{220,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{220,78}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>bank_btn_drawMoney_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,82},{220,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{220,78}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>bk_edit.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,140},{346,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,42}}</string>
                <key>sourceSize</key>
                <string>{346,42}</string>
            </dict>
            <key>bk_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{580,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,136}}</string>
                <key>sourceSize</key>
                <string>{580,136}</string>
            </dict>
            <key>bk_progressBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{430,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,28}}</string>
                <key>sourceSize</key>
                <string>{430,28}</string>
            </dict>
            <key>bk_progressing.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,184},{430,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,28}}</string>
                <key>sourceSize</key>
                <string>{430,28}</string>
            </dict>
            <key>bk_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,82},{145,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,51}}</string>
                <key>sourceSize</key>
                <string>{145,51}</string>
            </dict>
            <key>bk_txt_gtnum.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,214},{133,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,32}}</string>
                <key>sourceSize</key>
                <string>{133,32}</string>
            </dict>
            <key>bk_txt_svnum.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,214},{133,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,32}}</string>
                <key>sourceSize</key>
                <string>{133,32}</string>
            </dict>
            <key>bxx_btn_cun_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,82},{220,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{220,78}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>bxx_btn_cun_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{220,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{220,78}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>bxx_btn_qu_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,160},{220,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{220,78}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>bxx_btn_qu_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{220,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{220,78}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>bxx_btn_song_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{220,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{220,78}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>bxx_btn_song_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,162},{220,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{220,78}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>bxx_img1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{580,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,136}}</string>
                <key>sourceSize</key>
                <string>{580,136}</string>
            </dict>
            <key>bxx_img_clean.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,82},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>bxx_img_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,140},{346,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,42}}</string>
                <key>sourceSize</key>
                <string>{346,42}</string>
            </dict>
            <key>bxx_img_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,82},{91,41}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{91,41}}</string>
                <key>sourceSize</key>
                <string>{91,47}</string>
            </dict>
            <key>bxx_img_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,135},{178,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,23}}</string>
                <key>sourceSize</key>
                <string>{180,23}</string>
            </dict>
            <key>bxx_img_progressBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{430,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,28}}</string>
                <key>sourceSize</key>
                <string>{430,28}</string>
            </dict>
            <key>bxx_img_progressing.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,184},{430,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,28}}</string>
                <key>sourceSize</key>
                <string>{430,28}</string>
            </dict>
            <key>bxx_img_thumb.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,160},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>bxx_img_word1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,214},{133,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,32}}</string>
                <key>sourceSize</key>
                <string>{133,32}</string>
            </dict>
            <key>bxx_img_word2.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,214},{133,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,32}}</string>
                <key>sourceSize</key>
                <string>{133,32}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,82},{80,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,87}</string>
            </dict>
            <key>common_btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{235,76}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{235,76}}</string>
                <key>sourceSize</key>
                <string>{235,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bank.png</string>
            <key>size</key>
            <string>{1253,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:863a7827ed54e3ebcedaf30d729f6a3d:39140916f859b136441f6a279026ccf1:dc6c0fd38dd4a03e93a488c6efa9ec02$</string>
            <key>textureFileName</key>
            <string>bank.png</string>
        </dict>
    </dict>
</plist>
