<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,386},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>b10datingjindouBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,268},{298,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,37}}</string>
                <key>sourceSize</key>
                <string>{298,37}</string>
            </dict>
            <key>b81dt_phb_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{994,325}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{994,325}}</string>
                <key>sourceSize</key>
                <string>{994,411}</string>
            </dict>
            <key>b83dt_phb_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,333},{316,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{316,58}}</string>
                <key>sourceSize</key>
                <string>{320,60}</string>
            </dict>
            <key>b84dt_phb_dk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{634,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{634,60}}</string>
                <key>sourceSize</key>
                <string>{640,68}</string>
            </dict>
            <key>b85dt_phb_dk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,230},{244,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,37}}</string>
                <key>sourceSize</key>
                <string>{244,37}</string>
            </dict>
            <key>b86dt_phb_fgx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{956,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{956,2}}</string>
                <key>sourceSize</key>
                <string>{956,2}</string>
            </dict>
            <key>b87dt_phb_pm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,350},{84,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,73}}</string>
                <key>sourceSize</key>
                <string>{84,73}</string>
            </dict>
            <key>b87dt_phb_pm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,331},{74,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{74,71}}</string>
                <key>sourceSize</key>
                <string>{84,73}</string>
            </dict>
            <key>b87dt_phb_pm222.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,350},{84,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,73}}</string>
                <key>sourceSize</key>
                <string>{84,73}</string>
            </dict>
            <key>b87dt_phb_pm3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,331},{70,53}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,14},{70,53}}</string>
                <key>sourceSize</key>
                <string>{84,73}</string>
            </dict>
            <key>btn_close_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,393},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>btn_close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,425},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>datingjindou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,403},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{47,47}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>font_bean.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,476},{183,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,26}}</string>
                <key>sourceSize</key>
                <string>{187,26}</string>
            </dict>
            <key>icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,141},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>myrank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,429},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,230},{304,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,36}}</string>
                <key>sourceSize</key>
                <string>{304,36}</string>
            </dict>
            <key>phbbtop.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{654,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{654,137}}</string>
                <key>sourceSize</key>
                <string>{660,137}</string>
            </dict>
            <key>phbxx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{343,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,76}}</string>
                <key>sourceSize</key>
                <string>{343,76}</string>
            </dict>
            <key>rank_bt_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,395},{220,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{220,79}}</string>
                <key>sourceSize</key>
                <string>{220,81}</string>
            </dict>
            <key>rank_bt_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,269},{220,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{220,79}}</string>
                <key>sourceSize</key>
                <string>{220,81}</string>
            </dict>
            <key>rank_bt_lv_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,307},{220,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{220,77}}</string>
                <key>sourceSize</key>
                <string>{220,81}</string>
            </dict>
            <key>rank_bt_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,393},{220,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{220,79}}</string>
                <key>sourceSize</key>
                <string>{220,81}</string>
            </dict>
            <key>rank_bt_time_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,386},{220,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{220,77}}</string>
                <key>sourceSize</key>
                <string>{220,81}</string>
            </dict>
            <key>rank_cell_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,141},{570,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,87}}</string>
                <key>sourceSize</key>
                <string>{570,87}</string>
            </dict>
            <key>rank_cell_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,395},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>rank_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{296,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{296,32}}</string>
                <key>sourceSize</key>
                <string>{300,32}</string>
            </dict>
            <key>rank_icon_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,474},{33,34}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,40}</string>
            </dict>
            <key>rank_icon_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,474},{33,34}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,40}</string>
            </dict>
            <key>txt_dt_phb_bt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,278},{146,51}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{146,51}}</string>
                <key>sourceSize</key>
                <string>{146,57}</string>
            </dict>
            <key>txt_dt_phb_bt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,350},{220,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{220,77}}</string>
                <key>sourceSize</key>
                <string>{220,81}</string>
            </dict>
            <key>txt_dt_phb_bt4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,2},{121,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,31}}</string>
                <key>sourceSize</key>
                <string>{121,31}</string>
            </dict>
            <key>txt_dt_phb_bt5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,242},{121,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{121,34}}</string>
                <key>sourceSize</key>
                <string>{127,36}</string>
            </dict>
            <key>txt_userinfo_copy_wetchat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,429},{193,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,41}}</string>
                <key>sourceSize</key>
                <string>{193,41}</string>
            </dict>
            <key>unrank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,307},{70,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,25}}</string>
                <key>sourceSize</key>
                <string>{70,25}</string>
            </dict>
            <key>userinfo_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,474},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{24,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>v0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,457},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>v2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,404},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,457},{47,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,50}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
            <key>v4.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,462},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,50}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>v5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,404},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>v6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,457},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,476},{60,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,31}}</string>
                <key>sourceSize</key>
                <string>{60,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rank.png</string>
            <key>size</key>
            <string>{1687,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c91c9b75c248ac64372bb773c4c8ad66:eb6b735e000970dbfd855e799912465c:74cc68f98beed4c8a96adb0c26f30229$</string>
            <key>textureFileName</key>
            <string>rank.png</string>
        </dict>
    </dict>
</plist>
